* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
}

.transparent-box {
    background-color: rgba(240, 255, 241, 0);
    width: 100%;
    position: fixed;
}

.navbar-wrap {
    max-width: 88%;
    background-color: rgba(225, 239, 250, 0.12);
    margin: auto;
    min-height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
}

.navbar-wrap h1 {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}
.navbar {
    width: 100%;
}

.navbar a {
    padding: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    transition: font-size 0.5s, font-weight 0.5s, color 0.5s;
}

.navbar a:hover{
    color: rgba(246, 183, 122, 0.64);
    font-size: 30px;
    font-weight: bolder;
}

.main {
    width: 80%;
    margin: auto;
}

.introduction-page {
    width: 100%;
}

.setup-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 150px;
}

.setup-header {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 10px;
    display: inline-block;

}

.bold-text {
    font-weight: bold;
    font-size: large;
}

.setup-list p {
    font-weight: normal;
    line-height: 30px;
}

.setup-text {
    color: black;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.setup-list ul li a{
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: black;
    transition: font-size 0.45s;
}

.setup-list ul li a:hover {
    font-size: 30px;
}

.setup-list ul li a:active {
    color: lightpink;
}

.setup-list ul li{
    list-style-type: none;
    font-size: 18px;
    line-height: 25px;
}
.setup-list {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.setup-textbox {
    width: 50%;
}

.setup-img {
    width: 50%;
    height: auto;
    text-align: center;
}

.setup-textbox-two {
    width: 40%;
    text-align: left;
    border-radius: 10px;

}

.setup-textbox-three {
    width: 50%;
    text-align: left;
    border-radius: 10px;
}

.intro {
    color: rgba(135, 227, 203, 0.87);
}

.edu {
    color: #efce6c;
}

.job {
    color: #5caee8;
}
.pro {
    color: lightpink;
}

.social-media svg {
    float: left;
    width: 30px;
    margin-left: 45px;
    margin-bottom: 40px;
    transition: width 0.3s, opacity 0.3s;
}

.social-media svg:hover {
    width: 50px;
    opacity: 0.6;
}
#contact-page {
    padding: 120px 400px;
}

.con-media {
    padding: 41px;
}

